Se revisan los conceptos basico para crear nuestras propias funciones, dividido de la siguiente manera;

- Definicion simple de una funcion


- Mejorando la flexibilidad de los parametros de nuestras funciones con: Funciones Anhidadas, Valores Globales (global y nonlocal), Argumentos (*arg y *karg), parametros predefinidos.


- Definicion de funciones lambda, son funciones cortas que facilitan la escritura y lectura del codigo


- Uso de funciones map() (Ayuda a implementar una funciones varias veces), filter(Filtrado condicional) y reduce(Agrupacion de resultados) con funciones (lambda x: x + 1)


- Mensajes para usuarios, try (Si los parametros se colocan correctamente se ejecuta la funcion) y except (En caso de que un parametro no se coloque correctamente se lanza un mensaje de ayuda)


- Marcar algun error que no permita ejecutar la funcion, raise ValueError('Mensaje del error')

In [94]:
#Primera Parte:
#Definicion de Funciones
def Saludo(Saludo,Frase):
    A = Saludo + '!'*3 + Frase + '.'*3
    return A

In [95]:
#Utilizando la Funcion que creamos
Saludo('Hola','多Como estas?')

'Hola!!!多Como estas?...'

In [96]:
#Funcion con Multiples Parametros
def Saludo(Saludo,Frase):
    A = Saludo + '!'*3
    B = Frase + '.'*3
    Junto = (A,B)
    return Junto

In [97]:
#Asignacion de Multiples Valores
A , B = Saludo('Hola','多Como estas?')

In [98]:
print(A)
B

Hola!!!

'多Como estas?...'

In [1]:
#Crearemos una funcion que nos ayude a contar el numero de registros distintos, especificando la base y la columna.
#1.Antes de comenzar necesitamos conocer los datos con los que vamos a trabajar.
import pandas as pd
df = pd.read_csv('mtcars.csv')
df.head() #Es una base de datos con las especificaciones de automoviles

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [9]:
#2.Seleccion de datos
col = df['cyl'] #Seleccion de la columna cyl
conteo = {} 
col.head(4)

0    6
1    6
2    4
3    6
Name: cyl, dtype: int64

In [101]:
#3.Proceso de Conteo, for que cuenta los grupos de cyl (Esta seccion sera el motor de nuestra funcion)
for x in col:
    if x in conteo.keys():
        conteo[x] += 1
    else:
        conteo[x] = 1
#Resultado de Conteo
print(conteo)

{6: 7, 4: 11, 8: 14}

In [102]:
#Funcion de Conteo generalizada.
#Uniendo 2 y 3
def Conteo(df, col_name):
    conteo = {}
    col = df[col_name]
    for x in col:
        if x in conteo.keys():
            conteo[x] += 1
        else:
            conteo[x] = 1
            
    return(conteo)

In [103]:
#Uso de la funcion Generalizada
print(df.keys())
print(Conteo(df,'am'))
print(Conteo(df,'cyl'))

Index(['Unnamed: 0', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs',
       'am', 'gear', 'carb'],
      dtype='object')
{1: 13, 0: 19}
{6: 7, 4: 11, 8: 14}

Segunda Parte

Se muestran funciones anhidadas, Valores Globales y locales en una funcion, argumentos preterminados, 
Condicionales.

In [104]:
#Funciones Anhidadas (Ayudan a optimizar operaciones dentro de la misma funcion);
def Equipo(A,B,C, n = 1):
    
    def Exclamacion(A_0):
        A_0 = A_0 + '!' * n
        return A_0

    return (Exclamacion(A),Exclamacion(B),Exclamacion(C))

print(Equipo('Vengadores_0','Vengadores_1','Vengadores_2', 5))

('Vengadores_0!!!!!', 'Vengadores_1!!!!!', 'Vengadores_2!!!!!')

In [105]:
#Cambio de Variables Globales e internas de una funcion.
#Podremos ver como se compartan los valores dentro de una funcion y como afectan 
#a las variables globales.

#1.El Valor de x cambiara, dependiendo de la seccion de la funcion.
x = 0
def outer():
    x = 1
    def inner():
        x = 2
        print("inner:", x)

    inner() #Termino de la funcion anhidada inner
    print("outer:", x) #Termino de la funcion outer

outer() #Corremos la Funcion

print("global:", x) #Fuera de la Funcion

inner: 2
outer: 1
global: 0

In [106]:
#2.Valor homogeneo dentro de la funcion.
x = 0
def outer():
    x = 1
    def inner():
        nonlocal x #El valor de x sera el mismo en toda la funcion
        x = 2
        print("inner:", x)

    inner()
    print("outer:", x)

outer()
print("global:", x)

inner: 2
outer: 2
global: 0

In [107]:
#3.Cambiamos el valor global de x
x = 0
def outer():
    x = 1
    def inner():
        global x #Cambiara el valor Global de x
        x = 2
        print("inner:", x)

    inner()
    print("outer:", x)

outer()
print("global:", x)

inner: 2
outer: 1
global: 2

In [108]:
#Funciones con Multiples Argumentos y Condicionales.
#Se definen valores Preterminados al momento de ejecutar la funcion, y Condiciones 
#en caso de cumplir ciertos valores.

def Operaciones(x,y,Operacion = 'suma'):
    if Operacion == 'suma':
        z = x + y
    elif Operacion == 'resta':
        z = abs(x - y)
    elif Operacion == 'division':
        z = round(x/y,2)
    elif Operacion == 'Multiplicacion':
        z = x*y
    return z

In [109]:
Operaciones(1,3,'resta')

2

In [110]:
#Funciones con Argumentos Flexibles (*args) permite pasar a la funcion multiples argumentos.

def Concatenar(*argumentos):
    Cadena = ''
    for x in argumentos:
        Cadena += x
     
    return Cadena

In [111]:
Concatenar('Se','Junta','Todo')

'SeJuntaTodo'

In [112]:
#Funciones con Argumentos Flexibles (**kwargs), la diferencia es que podemos nombrar los argumentos.

def Reporte(**kargumentos):
    
    print("\nInicio: Perfil\n")
    
    for llave,valor in kargumentos.items():
        print(llave + ": " + valor)
    
    print("\nFin del Perfil")

In [113]:
Reporte(Nombre = 'Carlos', Gusto = 'Juegos de Mesa', Deporte = 'Natacion')

Inicio: Perfil

Nombre: Carlos
Gusto: Juegos de Mesa
Deporte: Natacion

Fin del Perfil

In [114]:
#Al final de la Primera Parte se realizo una funcion Conteo Generalizada.
#Modificaremos la funcion de tal forma que acepte multiples columnas para realizar el conteo.

def Conteo(df, *args):
    
    conteo = {}
    
    for col_name in args:
        
        col = df[col_name]
    
        for x in col:
            if x in conteo.keys():
                conteo[x] += 1
            else:
                conteo[x] = 1
            
    return(conteo)

In [115]:
Conteo(df,'am','cyl')

{0: 19, 1: 13, 4: 11, 6: 7, 8: 14}

Tercer Parte

Se muestran herramientas para escribir funciones compactas (lambda,map,filter,reduce,etc) y agregar mensajes de errores para
el usuario final.

In [11]:
#Funciones Lambda; Son funciones compactas que se utilizan para definir funciones peque単as
import math 
funcion = lambda x, y: math.sqrt(x*y)
funcion(2,3)

2.449489742783178

In [12]:
#Funcion map() permite aplicar la misma funcion a los elementos de un objeto.
vector = {2,4,6,9,10,15}
funcion = map(lambda x : x*5 , vector)
list(funcion)

[10, 20, 30, 45, 50, 75]

In [13]:
#Funcion filter() nos da los resultados que cumplan ciertos criterios.
vector = ['Carlos','Roberto','Bernardo','Tere']
funcion = filter(lambda x: len(x) > 6, vector)
list(funcion)

['Roberto', 'Bernardo']

In [14]:
#Funcion reduce(), agrupa los resultados.
from functools import reduce
funcion = reduce(lambda x , y : x + ',' + y, vector)
print('Equipo : ', funcion)

Equipo :  Carlos,Roberto,Bernardo,Tere

In [120]:
#Integrar mensajes de errores en las funciones
#try (Colocamos las operaciones)
#except (En caso de no poder realizar las operaciones, arrojamos un mensaje)
def Texto(texto, n = 1):
    texto_0 = ''
    texto_1 = ''
    try:
        texto_0 = texto * n
        texto_1 = texto_0 + '!'*n
    except:
        print('Colocar una cadena y un numero')
    return texto_1

In [121]:
Texto(5,2)
Texto('Hola',2)

Colocar una cadena y un numero

'HolaHola!!'

In [122]:
#Errores condicionales algun parametro no deseado (Seccion if y raise)
def Texto(texto, n = 1):
    if n < 0:
        raise ValueError('El valor numerico debe ser mayor a 0')
    texto_0 = texto * n
    texto_1 = texto + '!'*n
    return texto_1

In [123]:
Texto('Hola',-1)

ValueError: El valor numerico debe ser mayor a 0

In [124]:
#Juntaremos todo lo aprendido para crear una funcion mas compleja.
def Conteo(df, col_name = 'cyl'):
    conteo = {}
    try:
        col = df[col_name]
        for x in col:
            if x in conteo.keys():
                conteo[x] += 1
            else:
                conteo[x] = 1
            
        return(conteo)
    except:
        print('El Data Frame no contiene la columna "' + col_name + '" puedes verificar las columnas con la funcion .keys')

In [125]:
Conteo(df,'a')

El Data Frame no contiene la columna "a" puedes verificar las columnas con la funcion .keys

In [126]:
def Conteo(df, col_name = 'cyl'):
    
    if col_name not in df.columns:
        raise VelueError('El Data Frame no contiene la columna "' + col_name + '" pudes ver el nombre de las columnas con la funcion .columns ')
    
    conteo = {}
    
    col = df[col_name]
    
    for x in col:
        if x in conteo.keys():
            conteo[x] += 1
        else:
             conteo[x] = 1
            
        return(conteo)

In [127]:
Conteo(df,'a')

NameError: name 'VelueError' is not defined

In [23]:
# Funcion final para contar los elementos de una columna
def Conteo(df, col_name='cyl'):
    
    # Raise a ValueError si la columna del dataframe no se encuentra en la base
    if col_name not in df.columns:
        raise ValueError('The DataFrame does not have a ' + col_name + ' column.')

    # Inicializa el conteo con diccionario
    cols_count = {}
    
    # Extraemos la columna del dataframe
    col = df[col_name]
    
    # Iteramos sobre el dataframe 
    for entry in col:

        # Conteo 
        if entry in cols_count.keys():
            cols_count[entry] += 1
            # 
        else:
            cols_count[entry] = 1
        
        
    return cols_count

In [28]:
#Automaticamente tomara como parametro la columna 'cyl'
Conteo(df)

{6: 7, 4: 11, 8: 14}

In [29]:
Conteo(df, 'am')

{1: 13, 0: 19}