In [91]:
#Create Spark and SQLContext Sessions.
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext

spark = SparkSession.builder\
        .master("local")\
        .appName("Colab")\
        .config('spark.ui.port', '4040')\
        .getOrCreate()

sqlContext = SQLContext(spark)

In [92]:
spark

In [93]:
sqlContext

In [95]:
#Read csv
df = spark.read.csv("Airports2.csv", header=True, inferSchema=True)
df.registerTempTable('df') #Registra este DataFrame como una tabla temporal usando el nombre dado.

### Basic Insights into Data

In [96]:
df.count()

3606803

In [38]:
df.printSchema()

root
 |-- Origin_airport: string (nullable = true)
 |-- Destination_airport: string (nullable = true)
 |-- Origin_city: string (nullable = true)
 |-- Destination_city: string (nullable = true)
 |-- Passengers: integer (nullable = true)
 |-- Seats: integer (nullable = true)
 |-- Flights: integer (nullable = true)
 |-- Distance: integer (nullable = true)
 |-- Fly_date: string (nullable = true)
 |-- Origin_population: integer (nullable = true)
 |-- Destination_population: integer (nullable = true)
 |-- Org_airport_lat: string (nullable = true)
 |-- Org_airport_long: string (nullable = true)
 |-- Dest_airport_lat: string (nullable = true)
 |-- Dest_airport_long: string (nullable = true)

In [39]:
df.select("Origin_airport").describe().show()

+-------+--------------+
|summary|Origin_airport|
+-------+--------------+
|  count|       3606803|
|   mean|          null|
| stddev|          null|
|    min|           1B1|
|    max|           ZZV|
+-------+--------------+

### Spark Transformation and Action Operations

In [14]:
df.select("Origin_airport","Destination_airport","Passengers","Seats").show(5)

+--------------+-------------------+----------+-----+
|Origin_airport|Destination_airport|Passengers|Seats|
+--------------+-------------------+----------+-----+
|           MHK|                AMW|        21|   30|
|           EUG|                RDM|        41|  396|
|           EUG|                RDM|        88|  342|
|           EUG|                RDM|        11|   72|
|           MFR|                RDM|         0|   18|
+--------------+-------------------+----------+-----+
only showing top 5 rows

In [88]:
from pyspark.sql import functions as F
from pyspark.sql.functions import col
from pyspark.sql.functions import desc

airportAgg_DF = df.groupBy("Origin_airport").agg(F.sum("Passengers")).withColumnRenamed("sum(Passengers)","sum_passenger")
airportAgg_DF.show()

+--------------+-------------+
|Origin_airport|sum_passenger|
+--------------+-------------+
|           BGM|      1876537|
|           CRS|           29|
|           VWD|            0|
|           MOR|            0|
|           MSY|     83279662|
|           RDG|        87401|
|           GEG|     23872254|
|           DRT|        75152|
|           HVR|         1193|
|           MML|            0|
|           STF|           22|
|           SNA|     70464061|
|           CGX|        28848|
|           GTF|      3901526|
|           GRB|      6749419|
|           FOD|       112983|
|           OPF|         7534|
|           JRB|         8094|
|           BVX|            0|
|           UBS|            0|
+--------------+-------------+
only showing top 20 rows

In [73]:
df.groupBy("Origin_airport","Destination_airport").agg({'Passengers':'sum','Seats':'sum'}).show()

+--------------+-------------------+---------------+----------+
|Origin_airport|Destination_airport|sum(Passengers)|sum(Seats)|
+--------------+-------------------+---------------+----------+
|           DMA|                ACT|             30|        68|
|           OKC|                MCN|             92|       190|
|           TYS|                MIA|           2510|      3926|
|           ATL|                OGD|              0|         0|
|           LNK|                OMA|           6006|     12041|
|           CHS|                UCA|              0|       122|
|           HGR|                ALB|              0|         0|
|           BNA|                AHN|            487|       850|
|           GRK|                BGR|           1346|      2448|
|           OPF|                DAL|              0|         0|
|           GAD|                ADS|              0|         0|
|           OGG|                DAL|              0|       102|
|           CHS|                DAY|            212|       310|
|           FAR|                DAY|              0|         0|
|           DPA|                DAY|              0|         0|
|           LRD|                MGY|              0|         0|
|           TOL|                DHN|            151|       168|
|           HNL|                FAT|            121|       124|
|           SOW|                GUP|            144|      2375|
|           MDW|                MCE|              0|        60|
+--------------+-------------------+---------------+----------+
only showing top 20 rows

In [40]:
airportAgg_DF = df.groupBy("Origin_airport").count()
airportAgg_DF.show(10)

+--------------+-----+
|Origin_airport|count|
+--------------+-----+
|           BGM| 1738|
|           CRS|    1|
|           VWD|    1|
|           MOR|   10|
|           MSY|30572|
|           RDG|  267|
|           GEG|11659|
|           DRT|  360|
|           HVR|   72|
|           MML|    1|
+--------------+-----+
only showing top 10 rows

### Spark SQL

In [42]:
originAirports = sqlContext.sql("""SELECT Origin_Airport, 
                                          sum(Flights) as Flights 
                                    FROM df 
                                    GROUP BY Origin_Airport 
                                    ORDER BY sum(Flights)
                                    DESC limit 10""")
originAirports.show()

+--------------+-------+
|Origin_Airport|Flights|
+--------------+-------+
|           ORD|6908482|
|           ATL|6558015|
|           DFW|5994638|
|           LAX|4099901|
|           DTW|3452613|
|           PHX|3213108|
|           MSP|3204923|
|           IAH|3195062|
|           STL|3181102|
|           CLT|2840773|
+--------------+-------+

In [59]:
distanceQuery = sqlContext.sql("""with table1 as 
                                    (select least(Origin_airport, Destination_airport) as Airport1, 
                                    greatest(Destination_airport, Origin_airport) as Airport2, 
                                    sum(Flights) as Flights,
                                    sum(Passengers) as Passengers,
                                    sum(Seats) as Seats
                                    from df
                                    group by least(Origin_airport, Destination_airport), greatest(Destination_airport, Origin_airport)
                                    order by 1,2)
                                    select t.*, (Passengers*100/Seats) as Occupancy_Rate
                                    from table1 t
                                    order by Flights DESC, Seats DESC, Passengers DESC, Occupancy_Rate DESC
                                    limit 15;""")

distanceQuery.show(10)

+--------+--------+-------+----------+--------+------------------+
|Airport1|Airport2|Flights|Passengers|   Seats|    Occupancy_Rate|
+--------+--------+-------+----------+--------+------------------+
|     HNL|     OGG| 784873|  62109354|96640901| 64.26818599300931|
|     LAX|     SFO| 636449|  51119989|79405656|  64.3782717442697|
|     LAS|     LAX| 588151|  52511530|80532768| 65.20517213564546|
|     PDX|     SEA| 565707|  18475771|34650955| 53.31965886654495|
|     LAX|     PHX| 515093|  42695385|65619395| 65.06519147273455|
|     BOS|     LGA| 470737|  31242486|64897330| 48.14140427657039|
|     MSP|     ORD| 467514|  31301666|55325318|56.577471457100344|
|     LAS|     PHX| 460104|  42979048|64844100| 66.28058373853597|
|     DCA|     LGA| 439107|  29471657|60663368|   48.582295991215|
|     LAX|     SAN| 431076|  11686171|22820096|51.209999291852235|
+--------+--------+-------+----------+--------+------------------+
only showing top 10 rows

In [60]:
distanceQuery.filter((col("Occupancy_Rate").isNotNull()) & (col("Occupancy_Rate")<=100.0)).show()

+--------+--------+-------+----------+--------+------------------+
|Airport1|Airport2|Flights|Passengers|   Seats|    Occupancy_Rate|
+--------+--------+-------+----------+--------+------------------+
|     HNL|     OGG| 784873|  62109354|96640901| 64.26818599300931|
|     LAX|     SFO| 636449|  51119989|79405656|  64.3782717442697|
|     LAS|     LAX| 588151|  52511530|80532768| 65.20517213564546|
|     PDX|     SEA| 565707|  18475771|34650955| 53.31965886654495|
|     LAX|     PHX| 515093|  42695385|65619395| 65.06519147273455|
|     BOS|     LGA| 470737|  31242486|64897330| 48.14140427657039|
|     MSP|     ORD| 467514|  31301666|55325318|56.577471457100344|
|     LAS|     PHX| 460104|  42979048|64844100| 66.28058373853597|
|     DCA|     LGA| 439107|  29471657|60663368|   48.582295991215|
|     LAX|     SAN| 431076|  11686171|22820096|51.209999291852235|
|     LGA|     ORD| 424272|  39981416|59616532| 67.06431028225526|
|     DAL|     HOU| 408273|  35573141|53054549| 67.05012420329876|
|     ATL|     DFW| 399696|  42941213|59978776| 71.59401352238332|
|     LAX|     OAK| 381677|  30429561|47045709| 64.68084262477583|
|     EWR|     ORD| 372054|  31122785|50434853| 61.70888413216947|
+--------+--------+-------+----------+--------+------------------+

In [54]:
distanceQuery.filter(("Occupancy_Rate >= 60") and ("Occupancy_Rate <= 100")).show()

+--------+--------+-------+----------+--------+------------------+
|Airport1|Airport2|Flights|Passengers|   Seats|    Occupancy_Rate|
+--------+--------+-------+----------+--------+------------------+
|     HNL|     OGG| 784873|  62109354|96640901| 64.26818599300931|
|     LAX|     SFO| 636449|  51119989|79405656|  64.3782717442697|
|     LAS|     LAX| 588151|  52511530|80532768| 65.20517213564546|
|     PDX|     SEA| 565707|  18475771|34650955| 53.31965886654495|
|     LAX|     PHX| 515093|  42695385|65619395| 65.06519147273455|
|     BOS|     LGA| 470737|  31242486|64897330| 48.14140427657039|
|     MSP|     ORD| 467514|  31301666|55325318|56.577471457100344|
|     LAS|     PHX| 460104|  42979048|64844100| 66.28058373853597|
|     DCA|     LGA| 439107|  29471657|60663368|   48.582295991215|
|     LAX|     SAN| 431076|  11686171|22820096|51.209999291852235|
|     LGA|     ORD| 424272|  39981416|59616532| 67.06431028225526|
|     DAL|     HOU| 408273|  35573141|53054549| 67.05012420329876|
|     ATL|     DFW| 399696|  42941213|59978776| 71.59401352238332|
|     LAX|     OAK| 381677|  30429561|47045709| 64.68084262477583|
|     EWR|     ORD| 372054|  31122785|50434853| 61.70888413216947|
+--------+--------+-------+----------+--------+------------------+

In [61]:
distanceQuery = sqlContext.sql("""with table1 as 
                                    (select least(Origin_airport, Destination_airport) as Airport1, 
                                    greatest(Destination_airport, Origin_airport) as Airport2, 
                                    mean(Distance) as Distance,
                                    sum(Flights) as Flights
                                    from df
                                    group by least(Origin_airport, Destination_airport), greatest(Destination_airport, Origin_airport)
                                    order by 1,2)
                                    select t.*
                                    from table1 t
                                    where Flights>0
                                    order by Flights DESC
                                    limit 15;""")

distanceQuery.show(15)

+--------+--------+------------------+-------+
|Airport1|Airport2|          Distance|Flights|
+--------+--------+------------------+-------+
|     HNL|     OGG|             100.0| 784873|
|     LAX|     SFO|             337.0| 636449|
|     LAS|     LAX|             236.0| 588151|
|     PDX|     SEA|             129.0| 565707|
|     LAX|     PHX|             370.0| 515093|
|     BOS|     LGA|             185.0| 470737|
|     MSP|     ORD|             334.0| 467514|
|     LAS|     PHX|255.96021840873635| 460104|
|     DCA|     LGA|             214.0| 439107|
|     LAX|     SAN|             109.0| 431076|
|     LGA|     ORD|             733.0| 424272|
|     DAL|     HOU|             239.0| 408273|
|     ATL|     DFW| 731.9746309301993| 399696|
|     LAX|     OAK|             337.0| 381677|
|     EWR|     ORD|             719.0| 372054|
+--------+--------+------------------+-------+