Conceptos de Hoy; 

- Listas

- Diccionarios

- DataFrames

### Listas

##### Son conjuntos ordenados de elementos (números, cadenas, listas, etc). Las listas se delimitan por corchetes ([ ]) y los elementos se separan por comas.

In [26]:
#Definicion de una lista
listas = [0,1,2,3,4,5,6,7]

listas

[0, 1, 2, 3, 4, 5, 6, 7]

In [5]:
#tipo de dato
type(listas)

list

In [6]:
#seleccion del elemento 0
listas[0]

0

In [14]:
#Definicion alternativo de una lista

pares = list(range(0,10,2))

tmp = list(range(0,5,1))

In [15]:
#Concatenado en una lista
pares + tmp

[0, 2, 4, 6, 8, 0, 1, 2, 3, 4]

In [20]:
#Sumar 1 a cada elemento de la lista
a = []

for i in range(4):
    a.append(i + 1)
    
a

[1, 2, 3, 4]

In [28]:
#Seleccion entre valores de una lista
listas[2:5]

[2, 3, 4]

##### ¿Como vamos a utilizar las listas?

In [1]:
import pandas as pd #libreria para trabajar con DataFrames
import numpy as np  #libreria para trabajar con matrices
import matplotlib as mplt #libreria para graficar

People_List = ['Jon','Mark','Maria','Jill','Jack'] #definimos una lista
pd.DataFrame(People_List,columns=['First_Name']) #convertimos una lista a DataFrame

  First_Name
0        Jon
1       Mark
2      Maria
3       Jill
4       Jack

In [2]:
People_List = [['Jon','Smith',21],['Mark','Brown',38],['Maria','Lee',42],['Jill','Jones',28],['Jack','Ford',55]] #definicion de una lista con sublistas
pd.DataFrame(People_List,columns=['First_Name','Last_Name','Age']) #convertimos una lista a DataFrame

  First_Name Last_Name  Age
0        Jon     Smith   21
1       Mark     Brown   38
2      Maria       Lee   42
3       Jill     Jones   28
4       Jack      Ford   55

In [3]:
People_List = [['Jon','Mark','Maria','Jill','Jack'],['Smith','Brown','Lee','Jones','Ford'],[21,38,42,28,55]] #definicion de una lista
df = pd.DataFrame(People_List).transpose() #transponemos el DataFrame
df.columns = ['First_Name','Last_Name','Age'] #cambio del 
df

  First_Name Last_Name Age
0        Jon     Smith  21
1       Mark     Brown  38
2      Maria       Lee  42
3       Jill     Jones  28
4       Jack      Ford  55

In [4]:
print ('People_List: ' + str(type(People_List)))
print ('df: ' + str(type(df)))

People_List: <class 'list'>
df: <class 'pandas.core.frame.DataFrame'>

### Diccionario

##### Un Diccionario es una estructura de datos y un tipo de dato en Python con características especiales que nos permite almacenar cualquier tipo de valor como enteros, cadenas, listas e incluso otras funciones.

##### Estos diccionarios nos permiten además identificar cada elemento por una clave (Key).

In [176]:
#Definicion de un diccionario
diccionario = {'nombre': 'Carlos'}

diccionario

{'nombre': 'Carlos'}

In [31]:
#Valores Llave
diccionario.keys()

dict_keys(['nombre'])

In [32]:
#Valores de las llaves
diccionario.values()

dict_values(['Carlos'])

In [33]:
diccionario = {'nombre':'Carlos', 
               'edad':28,
               'cursos': ['Python','R','Django','ML']}

In [34]:
diccionario

{'nombre': 'Carlos', 'edad': 28, 'cursos': ['Python', 'R', 'Django', 'ML']}

In [35]:
diccionario.keys()

dict_keys(['nombre', 'edad', 'cursos'])

In [36]:
diccionario.values()

dict_values(['Carlos', 28, ['Python', 'R', 'Django', 'ML']])

In [41]:
#valor de la llave 
diccionario.pop('nombre')

'Carlos'

In [44]:
#Otra forma de definir un diccionario
dict(nombre = 'Carlos', edad = 28, cursos = ['Python', 'R', 'Django'])

{'nombre': 'Carlos', 'edad': 28, 'cursos': ['Python', 'R', 'Django']}

In [62]:
#Un diccionario mas amplio
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }

europe

{'spain': {'capital': 'madrid', 'population': 46.77},
 'france': {'capital': 'paris', 'population': 66.03},
 'germany': {'capital': 'berlin', 'population': 80.62},
 'norway': {'capital': 'oslo', 'population': 5.084}}

In [63]:
#Seleccion de una llave
europe['spain']

{'capital': 'madrid', 'population': 46.77}

In [49]:
europe.values()

dict_values([{'capital': 'madrid', 'population': 46.77}, {'capital': 'paris', 'population': 66.03}, {'capital': 'berlin', 'population': 80.62}, {'capital': 'oslo', 'population': 5.084}])

In [64]:
#Seleccion de llaves
europe['spain']['capital']

'madrid'

In [66]:
#Convirtiendo el diccionario a DataFrame
pd.DataFrame(europe)

             spain france germany norway
capital     madrid  paris  berlin   oslo
population   46.77  66.03   80.62  5.084

In [60]:
europe = { 'pais': ['Spain','France'], 'population': [46.77, 66.03], 'capital': ['Madrid','Paris']}
europe

{'pais': ['Spain', 'France'],
 'population': [46.77, 66.03],
 'capital': ['Madrid', 'Paris']}

In [61]:
pd.DataFrame(europe)

     pais  population capital
0   Spain       46.77  Madrid
1  France       66.03   Paris

In [71]:
europe['Mexico'] = {'capital':'CDMX','population':10}

pd.DataFrame(europe)

             spain france germany norway Mexico
capital     madrid  paris  berlin   oslo   CDMX
population   46.77  66.03   80.62  5.084     10

In [77]:
People_list = {'First_Name': ['Jon','Mark','Maria','Jill','Jack'],
               'Last_Name': ['Smith','Brow','a','b','a'],
               'Edad': [1,2,3,4,5]
              }

pd.DataFrame(People_list)

  First_Name Last_Name  Edad
0        Jon     Smith     1
1       Mark      Brow     2
2      Maria         a     3
3       Jill         b     4
4       Jack         a     5

In [5]:
#Creacion de Data Frames
#Tienen una estructura tabular (Base de datos)

names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True] #conduccion derecha
cpc = [809, 731, 588, 18, 200, 70, 45] #Coches con capo

#Definimos las Columnas y rellenamos con la listas (names,dr,cpc)
my_dict = { 'country':names, 'drives_right':dr, 'cars_per_cap':cpc }
cars = pd.DataFrame(my_dict)
print(cars)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

In [6]:
type(cars)

row_labels = ['US', 'AUS', 'JAP', 'IN', 'RU', 'MOR', 'EG'] #Creamos una lista que sera el nombre de nuestras filas
cars.index = row_labels #Coloca nombres a las Filas
print(cars)

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JAP          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

### DataFrames

Tipo de datos usado para manipular bases

In [ ]:
mtcars = pd.read_csv("C:/Users/crf005r/Documents/mtcars.csv", index_col = 0)

mtcars.head() #Encabezado
mtcars.info() #Informacion tipos de datos
mtcars.isnull().all() #Valores nulos
mtcars.index #indexacion
mtcars.shape #numero de filas y columnas
mtcars.keys() #nombre columns
mtcars.columns
type(mtcars)

mtcars[ ['cyl','mpg'] ] #Seleccion de Columnas del DataFrame mtcars
mtcars[0:3] #Seleccion de Filas

mtcars.iloc[2] #Selecion de filas con la funcion .iloc
mtcars.loc[['Datsun 710', 'Toyota Corona']] #Seleccion por el nombre de la fila funcion .loc

mtcars.iloc[5, 2] #Fila 5 columna 2
mtcars.loc[['Datsun 710', 'Toyota Corona'], ['cyl', 'qsec']] #Fila y columna por nombre

mtcars.iloc[:, 2] #Toda la fila 2 con Tipo de datos Series
mtcars.iloc[:, [2]] #Toda la fila 2 con Tipo de datos dataFrame
mtcars.loc[:, ['disp', 'cyl']] #Columnas con Tipo dataFrame

#Filtros
mtcars[mtcars["mpg"] > 21]

mtcars[(mtcars["mpg"] > 21) & (mtcars["cyl"] == 4)]
mtcars[(mtcars["mpg"] > 21) | (mtcars["cyl"] == 4)]

mtcars["cyl"].value_counts()
mtcars.groupby(["cyl"]).count()
mtcars.groupby(["cyl"]).count()["mpg"]