In [2]:
#Create Spark and SQLContext Sessions.
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext

spark = SparkSession.builder\
        .master("local")\
        .appName("Colab")\
        .config('spark.ui.port', '4040')\
        .getOrCreate()

sqlContext = SQLContext(spark)

In [5]:
spark

In [6]:
sqlContext

In [9]:
#Read csv
df = spark.read.csv("Airports2.csv", header=True, inferSchema=True)
df.registerTempTable('df')

In [16]:
df.count()

3606803

In [10]:
df.printSchema()

root
 |-- Origin_airport: string (nullable = true)
 |-- Destination_airport: string (nullable = true)
 |-- Origin_city: string (nullable = true)
 |-- Destination_city: string (nullable = true)
 |-- Passengers: integer (nullable = true)
 |-- Seats: integer (nullable = true)
 |-- Flights: integer (nullable = true)
 |-- Distance: integer (nullable = true)
 |-- Fly_date: string (nullable = true)
 |-- Origin_population: integer (nullable = true)
 |-- Destination_population: integer (nullable = true)
 |-- Org_airport_lat: string (nullable = true)
 |-- Org_airport_long: string (nullable = true)
 |-- Dest_airport_lat: string (nullable = true)
 |-- Dest_airport_long: string (nullable = true)

In [12]:
df.select("Origin_airport").describe().show()

+-------+--------------+
|summary|Origin_airport|
+-------+--------------+
|  count|       3606803|
|   mean|          null|
| stddev|          null|
|    min|           1B1|
|    max|           ZZV|
+-------+--------------+

In [14]:
df.select("Origin_airport","Destination_airport","Passengers","Seats").show(5)

+--------------+-------------------+----------+-----+
|Origin_airport|Destination_airport|Passengers|Seats|
+--------------+-------------------+----------+-----+
|           MHK|                AMW|        21|   30|
|           EUG|                RDM|        41|  396|
|           EUG|                RDM|        88|  342|
|           EUG|                RDM|        11|   72|
|           MFR|                RDM|         0|   18|
+--------------+-------------------+----------+-----+
only showing top 5 rows

In [25]:
df.groupBy("Origin_airport").agg({'Passengers':'sum'}).show()

+--------------+---------------+
|Origin_airport|sum(Passengers)|
+--------------+---------------+
|           BGM|        1876537|
|           CRS|             29|
|           VWD|              0|
|           MOR|              0|
|           MSY|       83279662|
|           RDG|          87401|
|           GEG|       23872254|
|           DRT|          75152|
|           HVR|           1193|
|           MML|              0|
|           STF|             22|
|           SNA|       70464061|
|           CGX|          28848|
|           GTF|        3901526|
|           GRB|        6749419|
|           FOD|         112983|
|           OPF|           7534|
|           JRB|           8094|
|           BVX|              0|
|           UBS|              0|
+--------------+---------------+
only showing top 20 rows

In [ ]:
airportAgg_DF = df.groupBy("Origin_airport").count()
airportAgg_DF.show(10)

In [18]:
originAirports = sqlContext.sql("""select Origin_Airport, sum(Flights) as Flights 
                                    from df group by Origin_Airport order by sum(Flights) DESC limit 10""")
originAirports.show()

+--------------+-------+
|Origin_Airport|Flights|
+--------------+-------+
|           ORD|6908482|
|           ATL|6558015|
|           DFW|5994638|
|           LAX|4099901|
|           DTW|3452613|
|           PHX|3213108|
|           MSP|3204923|
|           IAH|3195062|
|           STL|3181102|
|           CLT|2840773|
+--------------+-------+

In [30]:
df.show(15)

+--------------+-------------------+-------------+----------------+----------+-----+-------+--------+----------+-----------------+----------------------+----------------+-----------------+----------------+-----------------+
|Origin_airport|Destination_airport|  Origin_city|Destination_city|Passengers|Seats|Flights|Distance|  Fly_date|Origin_population|Destination_population| Org_airport_lat| Org_airport_long|Dest_airport_lat|Dest_airport_long|
+--------------+-------------------+-------------+----------------+----------+-----+-------+--------+----------+-----------------+----------------------+----------------+-----------------+----------------+-----------------+
|           MHK|                AMW|Manhattan, KS|        Ames, IA|        21|   30|      1|     254|2008-10-01|           122049|                 86219| 39.140998840332|-96.6707992553711|              NA|               NA|
|           EUG|                RDM|   Eugene, OR|        Bend, OR|        41|  396|     22|     103|1990-11-01|           284093|                 76034|44.1245994567871| -123.21199798584|      44.2541008|     -121.1500015|
|           EUG|                RDM|   Eugene, OR|        Bend, OR|        88|  342|     19|     103|1990-12-01|           284093|                 76034|44.1245994567871| -123.21199798584|      44.2541008|     -121.1500015|
|           EUG|                RDM|   Eugene, OR|        Bend, OR|        11|   72|      4|     103|1990-10-01|           284093|                 76034|44.1245994567871| -123.21199798584|      44.2541008|     -121.1500015|
|           MFR|                RDM|  Medford, OR|        Bend, OR|         0|   18|      1|     156|1990-02-01|           147300|                 76034|42.3741989135742|-122.873001098633|      44.2541008|     -121.1500015|
|           MFR|                RDM|  Medford, OR|        Bend, OR|        11|   18|      1|     156|1990-03-01|           147300|                 76034|42.3741989135742|-122.873001098633|      44.2541008|     -121.1500015|
|           MFR|                RDM|  Medford, OR|        Bend, OR|         2|   72|      4|     156|1990-01-01|           147300|                 76034|42.3741989135742|-122.873001098633|      44.2541008|     -121.1500015|
|           MFR|                RDM|  Medford, OR|        Bend, OR|         7|   18|      1|     156|1990-09-01|           147300|                 76034|42.3741989135742|-122.873001098633|      44.2541008|     -121.1500015|
|           MFR|                RDM|  Medford, OR|        Bend, OR|         7|   36|      2|     156|1990-11-01|           147300|                 76034|42.3741989135742|-122.873001098633|      44.2541008|     -121.1500015|
|           SEA|                RDM|  Seattle, WA|        Bend, OR|         8|   18|      1|     228|1990-02-01|          5154164|                 76034|47.4490013122559| -122.30899810791|      44.2541008|     -121.1500015|
|           SEA|                RDM|  Seattle, WA|        Bend, OR|       453| 3128|     23|     228|1990-01-01|          5154164|                 76034|47.4490013122559| -122.30899810791|      44.2541008|     -121.1500015|
|           SEA|                RDM|  Seattle, WA|        Bend, OR|       784| 2720|     20|     228|1990-02-01|          5154164|                 76034|47.4490013122559| -122.30899810791|      44.2541008|     -121.1500015|
|           SEA|                RDM|  Seattle, WA|        Bend, OR|       749| 2992|     22|     228|1990-03-01|          5154164|                 76034|47.4490013122559| -122.30899810791|      44.2541008|     -121.1500015|
|           SEA|                RDM|  Seattle, WA|        Bend, OR|        11|   18|      1|     228|1990-04-01|          5154164|                 76034|47.4490013122559| -122.30899810791|      44.2541008|     -121.1500015|
|           PDX|                RDM| Portland, OR|        Bend, OR|       349|  851|     23|     116|1990-01-01|          1534762|                 76034|     45.58869934|     -122.5979996|      44.2541008|     -121.1500015|
+--------------+-------------------+-------------+----------------+----------+-----+-------+--------+----------+-----------------+----------------------+----------------+-----------------+----------------+-----------------+
only showing top 15 rows

In [31]:
display(df)

DataFrame[Origin_airport: string, Destination_airport: string, Origin_city: string, Destination_city: string, Passengers: int, Seats: int, Flights: int, Distance: int, Fly_date: string, Origin_population: int, Destination_population: int, Org_airport_lat: string, Org_airport_long: string, Dest_airport_lat: string, Dest_airport_long: string]